.notfound-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notfound-container > img {
  max-height: 500px;
  max-width: 800px;
}

.redirect-button {
  background-color: black;
  width: fit-content;
  color: white;
  margin-top: 1rem;
  padding: 1rem 4rem;
  cursor: pointer;
}

.redirect-button:hover {
  opacity: 0.9;
}